
font-gilroy()
  font-family "gilroy"

font-opensans()
  font-family "Open Sans", sans-serif

font-montserrat()
  font-family "Montserrat", sans-serif

font-playfairdisplay()
  font-family "Playfair Display", serif

font-merriweather()
  font-family "Merriweather", serif

font-pacifico()
  font-family "Pacifico", cursive

font-amaticsc()
  font-family "Amatic SC", cursive

font-caveat()
  font-family "Caveat", cursive

// base typos
// ----------------------------------------------
font-primary()
  font-family "gilroy", "Arial", sans-serif
  font-weight 400
  letter-spacing 0

typoBase()
  font-size 16px

typoText()
  color $colorBase2
  font-size 16px

typoBaseBig()
  font-size 18px

typoSubTitle()
  color $colorBase2
  font-size 18px

typoSubTitle2()
  color $colorBase2
  font-size 16px
  line-height 20px

typoTitle()
  color $colorBase2
  font-size 22px

typoDesc()
  color $colorBase3
  font-size 14px

typoDescGray()
  color $colorBase4
  font-size 14px

// icons
// ----------------------------------------------
$icon-md = 22px

// font sizes
// ----------------------------------------------
$font-sm = 14px
$font-md = 16px
$font-lg = 20px
$font-xl = 26px
$font-xlp = 38px
$font-exl = 52px

premiumBase()
  color $colorAccent1
  font-weight 600

baseTitleH1()
  typoTitle()
  color $colorBase1
  font-weight 600
