// Base
$colorBase1 = rgba(0, 0, 0, 1)
$colorBase2 = rgba(38, 38, 38, 1)
$colorBase3 = rgba(116, 116, 116, 1)
$colorBase4 = rgba(186, 186, 186, 1)
$colorBase5 = #dfdfdf
$colorBaseWhite = rgba(255, 255, 255, 1)

// Faint
$colorFaint1 = rgba(228, 228, 228, 1)
$colorFaint2 = rgba(236, 236, 236, 1)
$colorFaint3 = rgba(244, 244, 244, 1)
$colorFaint4 = rgba(250, 250, 250, 1)
$colorFaint5 = rgba(255, 255, 255, 1)
$colorFaint6 = rgba(255, 255, 255, .99)
$colorFaint7 = rgba(255, 255, 255, .95)
$colorFaint8 = rgba(151, 151, 151, 1)
$colorFaint9 = #ddd

// Accent
$colorAccent1 = rgba(43, 122, 255, 1)
$colorAccent2 = rgba(34, 102, 216, 1)
$colorAccent3 = rgba(43, 122, 255, .05)

// Critic
$colorCritic1 = rgba(239, 98, 91, 1)
$colorCritic2 = rgba(236, 69, 61, 1)

// Warning
$colorWarning1 = rgba(238, 216, 20, 1)

// Opacity
$colorOpacity1 = rgba(0, 0, 0, .8)
$colorOpacity2 = rgba(31, 31, 31, .8)
$colorOpacity3 = rgba(0, 0, 0, .4)
$colorOpacity4 = rgba(0, 0, 0, .3)
$colorOpacity5 = rgba(0, 0, 0, .07)
$colorOpacity6 = rgba(0, 0, 0, .05)
$colorOpacity7 = rgba(0, 0, 0, .03)
$colorOpacity8 = rgba(255, 255, 255, .8)
$colorOpacity9 = rgba(255, 255, 255, .5)
$colorOpacity10 = rgba(255, 255, 255, .3)
$colorOpacity11 = rgba(250, 250, 250, .95)
$colorOpacity12 = rgba(248, 248, 248, 1)
